

body {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
.especial{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;   
}

img{
    width: inherit;
    height: inherit;
}
.zona_impresion{
    width: 350px;
    max-width: 350px;
    padding:10px 5px 10px 5px;
    float:left;
    margin-left:-18px;
    margin-right: auto;

}
